In [1]:
import pandas as pd
import numpy as np

In [3]:
data1 = pd.read_excel("./log0.xlsx") ############
data2 = pd.read_excel("./log10.xlsx")
data3 = pd.read_excel("./log-10.xlsx")
#data = data.drop(['Unnamed: 0'], axis=1)
data1.head()

,0,1,2,3,4,5,6,7
0,[ 120.403061] tgid,2415,delta_vrun,1202,delta_rrun,1202,prio,120
1,[ 121.419481] tgid,2415,delta_vrun,1034,delta_rrun,1034,prio,120
2,[ 121.900344] tgid,1840,delta_vrun,31580,delta_rrun,31580,prio,120
3,[ 122.065341] tgid,2739,delta_vrun,11685,delta_rrun,55180,prio,120
4,[ 122.135422] tgid,2415,delta_vrun,13479,delta_rrun,13479,prio,120

In [4]:
modi_data1 = data1[data1[1] == 2415]
modi_data2 = data2[data2[1] == 2415]
modi_data3 = data3[data3[1] == 2415]
modi_data1.head()

,0,1,2,3,4,5,6,7
0,[ 120.403061] tgid,2415,delta_vrun,1202,delta_rrun,1202,prio,120
1,[ 121.419481] tgid,2415,delta_vrun,1034,delta_rrun,1034,prio,120
4,[ 122.135422] tgid,2415,delta_vrun,13479,delta_rrun,13479,prio,120
5,[ 122.485156] tgid,2415,delta_vrun,1561,delta_rrun,1561,prio,120
7,[ 123.084539] tgid,2415,delta_vrun,6683,delta_rrun,28825,prio,120

In [5]:
modi_data1.shape

(1772, 8)

In [7]:
modi_data1.to_excel("./modi_log0.xlsx", index=False)
modi_data2.to_excel("./modi_log10.xlsx", index=False)
modi_data3.to_excel("./modi_log-10.xlsx", index=False)