In [8]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_excel("./kor_abs_full.xlsx") ############

data.tail()

,NO,발행년,권(호),논문ID,논문명,키워드(한국어),국문초록,비고
1144,1145,2020,24(6),NaN,2015 개정 실과 교과서 소프트웨어 교육 단원 탐구성 비교 분석,"2015 개정교육과정, 실과 교과서, 소프트웨어 교육, 교과서 분석, Romey 분...",본 논문에서는 2015 개정 교육과정에 따라 개발된 6종의 실과 교과서 중 ‘소프트...,NaN
1145,1146,2020,24(6),NaN,대화형 이러닝 콘텐츠에 관한 사용자 경험(UX) 질적 평가,"대화형 이러닝, 대리적 상호작용, 사용자 경험, 질적 평가, HCI",코로나 19라는 전세계적 위기를 맞이하여 이러닝은 ‘뉴노멀(new normal)’이...,NaN
1146,1147,2020,24(6),NaN,초등학생의 데이터 리터러시 함양을 위한 AI 데이터 과학 교육 프로그램 개발,"데이터 리터러시, 데이터 과학, AI, 데이터 과학, 초등학생",인공지능으로 구현되는 지능과 데이터 및 네트워크 기술에 기반한 지능정보기술의 발전은...,NaN
1147,1148,2020,24(6),NaN,초등 예비 교사들을 위한 소프트웨어 교육에 대한 온라인 교육 효과 분석,"소프트웨어 교육, 예비 교사, 온라인 교육, 교수 학습 자료, 평가 자료","20년 전 21세기 지식정보 사회부터 온라인 교육은 강조되어 오고 있었고, 실제로 ...",NaN
1148,1149,2020,24(6),NaN,초등 실과 교과서 내 소프트웨어교육 영역에 나타난 컴퓨팅 사고력 요소 분석,"소프트웨어교육, 컴퓨팅 사고력, 교과서 분석, 추상화, 자동화",본 연구에서는 초등 실과 교과서의 소프트웨어교육 영역에 나타난 컴퓨팅 사고력의 요소...,NaN

In [11]:
# 논문명, 키워드, 국문초록이 모두 없는 값 삭제
data = data.dropna(subset=['논문명', '키워드(한국어)', '국문초록'], how='all')
data.head()

   NO   발행년  권(호)          논문ID                       논문명 키워드(한국어) 국문초록     비고
0   1  1997  1(1)  ART002091494         멀티미디어 원격교육에 관한 연구      NaN  NaN  논문 없음
1   2  1997  1(1)  ART002091493  교육용 하이퍼미디어 자료 편집기에 관한 연구      NaN  NaN  논문 없음
2   3  1997  1(1)  ART002091492     인터넷 기반의 코스웨어의 설계 및 구현      NaN  NaN  논문 없음
3   4  1997  1(1)  ART002091491     Web에서의 협력 환경 구축 방안 연구      NaN  NaN  논문 없음
4   5  1997  1(1)  ART002091490        열린교육에서의 개별화수업과 CAI      NaN  NaN  논문 없음

In [12]:
data.shape

(1149, 8)

In [13]:
# 영문키워드 -> NAN으로
for i in range(1135):
    if data.loc[i, '비고'] == '영문키워드':
        data.loc[i, '키워드(한국어)'] = np.nan
data.head()

   NO   발행년  권(호)          논문ID                       논문명 키워드(한국어) 국문초록     비고
0   1  1997  1(1)  ART002091494         멀티미디어 원격교육에 관한 연구      NaN  NaN  논문 없음
1   2  1997  1(1)  ART002091493  교육용 하이퍼미디어 자료 편집기에 관한 연구      NaN  NaN  논문 없음
2   3  1997  1(1)  ART002091492     인터넷 기반의 코스웨어의 설계 및 구현      NaN  NaN  논문 없음
3   4  1997  1(1)  ART002091491     Web에서의 협력 환경 구축 방안 연구      NaN  NaN  논문 없음
4   5  1997  1(1)  ART002091490        열린교육에서의 개별화수업과 CAI      NaN  NaN  논문 없음

In [14]:
filtered_data = data.drop(columns=['NO', '발행년', '권(호)', '논문ID', '비고'])
filtered_data = filtered_data.fillna(' ') #공백으로 바꾸기
filtered_data.head()

                        논문명 키워드(한국어) 국문초록
0         멀티미디어 원격교육에 관한 연구
1  교육용 하이퍼미디어 자료 편집기에 관한 연구
2     인터넷 기반의 코스웨어의 설계 및 구현
3     Web에서의 협력 환경 구축 방안 연구
4        열린교육에서의 개별화수업과 CAI

In [15]:
# 논문명 + 키워드 + 국문초록
final_data = data.drop(columns=['권(호)', '논문ID', '키워드(한국어)', '국문초록', '비고'])
final_data.columns = ['no', 'year', 'title']
final_data['kor_full'] = filtered_data['논문명'] + " " + filtered_data['키워드(한국어)'] + " " + filtered_data['국문초록']

final_data.head()

   no  year                     title                      kor_full
0   1  1997         멀티미디어 원격교육에 관한 연구         멀티미디어 원격교육에 관한 연구
1   2  1997  교육용 하이퍼미디어 자료 편집기에 관한 연구  교육용 하이퍼미디어 자료 편집기에 관한 연구
2   3  1997     인터넷 기반의 코스웨어의 설계 및 구현     인터넷 기반의 코스웨어의 설계 및 구현
3   4  1997     Web에서의 협력 환경 구축 방안 연구     Web에서의 협력 환경 구축 방안 연구
4   5  1997        열린교육에서의 개별화수업과 CAI        열린교육에서의 개별화수업과 CAI

In [16]:
final_data = final_data.reset_index(drop = True)
final_data.head()

   no  year                     title                      kor_full
0   1  1997         멀티미디어 원격교육에 관한 연구         멀티미디어 원격교육에 관한 연구
1   2  1997  교육용 하이퍼미디어 자료 편집기에 관한 연구  교육용 하이퍼미디어 자료 편집기에 관한 연구
2   3  1997     인터넷 기반의 코스웨어의 설계 및 구현     인터넷 기반의 코스웨어의 설계 및 구현
3   4  1997     Web에서의 협력 환경 구축 방안 연구     Web에서의 협력 환경 구축 방안 연구
4   5  1997        열린교육에서의 개별화수업과 CAI        열린교육에서의 개별화수업과 CAI

In [17]:
final_data.shape

(1149, 4)

In [18]:
final_data.to_csv('./modi_data/kor_full.csv', index=False)

In [19]:
# 연도별 저장
df = pd.DataFrame()

for i in range(1997, 2021):
    for j in range(1135):
        if final_data.loc[j, 'year'] == int(i):
            df = df.append(final_data.loc[j])
            #print(final_data.loc[j])
    #if not df.empty: print(df)
    if not df.empty: df.to_csv('./modi_data/kor_' + str(i) + '.csv', index=False)
    df = pd.DataFrame()
print("===finish====")

===finish====