In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel("./wordlist_nltk_yet_modi.xlsx") ############
data = data.drop(['Unnamed: 0'], axis=1)
data.head()

          0 replace  delete
0         1     NaN  delete
1         2     NaN  delete
2        22     NaN  delete
3         a     NaN  delete
4  academic     NaN     NaN

In [9]:
# 수정사항 없는 값 삭제
modi_data = data[data['replace'].notnull()]
modi_data = modi_data.drop(columns=['delete'])
modi_data.columns = ['word', 'correction']
#modi_data.to_excel('./modi_data/modidata_nltk.xlsx', index=False)
modi_data.head()

          word  correction
6  accelerated  accelerate

In [10]:
del_data = data[data['delete'].notnull()]
del_data = del_data.drop(columns=['replace'])
del_data.columns = ['word', 'correction']
#del_data.to_excel('./modi_data/deldata_nltk.xlsx', index=False)
del_data.head()

  word correction
0    1     delete
1    2     delete
2   22     delete
3    a     delete

In [12]:
cor_data = pd.concat([modi_data, del_data])
cor_data.to_excel('./modi_data/nltk_word_cor.xlsx')
cor_data.head()

          word  correction
6  accelerated  accelerate
0            1      delete
1            2      delete
2           22      delete
3            a      delete

In [7]:
"""
etc_data = data[data['비고'].notnull()]
etc_data = etc_data.drop(columns=['삭제', '변경'])
etc_data.to_excel('./modi_data/etcdata2.xlsx', index=False)
etc_data.head()
"""

"\netc_data = data[data['비고'].notnull()]\netc_data = etc_data.drop(columns=['삭제', '변경'])\netc_data.to_excel('./modi_data/etcdata2.xlsx', index=False)\netc_data.head()\n"